.announcements-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.announcements-container {
  margin-top: 50px;
  display: grid;
  place-items: center;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-section label {
  font-size: 1.1rem;
}

.search-section input {
  padding: 5px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
  outline: none;
}

.refresh-btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(113, 238, 155);
  font-size: 16px;
  cursor: pointer;
}

.refresh-btn:hover {
  background-color: rgb(99, 207, 135);
}
